.root {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  opacity: 0;
  z-index: -1;
  position: absolute;
}

.label {
  min-width: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin: 0;
  font-style: normal;
  font-weight: 700;
  line-height: 1.4;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  cursor: pointer;
  margin-top: 40px;
  font-size: 24px;
  border-radius: 14px;
  padding: 15px 30px;
  color: var(--text-color-primary);
  background-color: var(--second-color);
  transition: background-color 0.25s ease-out, color 0.25s ease-out;

  &:hover {
    background-color: var(--accent-primary);
  }
}

.previewWrap {
  position: relative;
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: transparent;
  border-radius: 20px;
  overflow: visible;
  opacity: 0;
  z-index: 0;
  transform: translateY(20px);
  transition: transform .5s ease-out, opacity .25s ease-out;

  &:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    z-index: -1;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    border-radius: 10px;
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
    animation: glowing 20s linear infinite;
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    background-size: 400%;
    filter: blur(5px);
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    z-index: -1;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: #c0c0c0;
    border: 1px solid rgba(0, 0, 0, 0.1)
  }

  &.active {
    margin-top: 30px;
    padding: 30px 20px 15px 20px;
    opacity: 1;
    transform: translateY(0);
  }
}

.preview {
  width: auto;
  max-height: 90px;
  margin-right: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
}