.container {
  position: relative;
  width: 270px;
  height: 270px;
  background-image: url('../../imgs/mascot-cat.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.eye {
  position: absolute;
  top: 97px;
  width: 13px;
  height: 13px;
  background-color: #000;
  border-radius: 50%;
  transition: tranfor .25s ease-out;

  &.right {
    right: 97px;
  }

  &.left {
    left: 92px;
  }
}

.mouth {
  position: absolute;
  top: 115px;
  left: calc(50% - 2px);
  width: 20px;
  height: 15px;
  border-bottom: 2px solid #000;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}