.root {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 20px 0;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 60px;
  padding-bottom: 40px;
}

.caption {
  max-width: 600px;
  margin: 20px 0 40px 0;
  font-size: 18px;
  color: var(--text-color-primary);
  text-align: center;
  font-weight: 500;
}

.title {
  font-size: 42px;
  color: var(--accent-primary);
  margin: 0;
  text-align: center;
  font-weight: 700;
}