.root {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding-bottom: 60px;
}

.caption {
  text-align: center;
}

.content {
  position: relative;
  width: 100%;
  min-height: 50px;
  padding: 0 20px 20px;
  margin-top: 20px;
  line-height: 1.5;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid var(--accent-primary);
  white-space: pre-line;

  &::after {
    content: '';
    position: absolute;
    bottom: -80px;
    right: 50%;
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('../../../../imgs/animals.webp');
    transform: translateX(-50%);
  }
}