.root {
  width: 100%;
  min-height: 50px;
  max-width: 800px;
  padding: 20px;
  margin-top: 20px;
  line-height: 1.5;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid var(--accent-primary);
}