.root {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.monitorWrap {
  position: relative;
  width: 320px;
  height: 320px;
  background-image: url('../../imgs/monitor.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;

  .dialog {
    position: absolute;
    bottom: 82%;
    left: 63%;
  }
}

.mascot {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btnWrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 30px;
}

.bottom {
  min-width: 420px;
  min-height: 225px;
}

.response {
  margin-top: 20px;
}
