---
name: CI Golnag test

on:
  pull_request:
    paths:
      - "backend/**"

jobs:
  ci-go-test:
    runs-on: [self-hosted]
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.29
          working-directory: backend
          skip-cache: true
          skip-pkg-cache: true
          skip-build-cache: true
