.content {
  position: relative;
  width: 100%;
  max-width: 600px;
  min-height: 50px;
  padding: 20px 20px;
  line-height: 1.5;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid var(--accent-primary);
  animation: fadeIn .3s ease-out 0s 1;
  animation-fill-mode: forwards;
  white-space: pre-line;
  opacity: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
} 